
#Ignore files built by Visual Code
/.vscode/

#Ignore thumbnails created by Windows
Thumbs.db

#Ignore DEMO files
__EXAMPLES__/

#Ignore WIP folder and files
@*
@*/

#Backup files
*.bak

#ignore venv
/.venv/

#ignore cache
__pycache__/

#ignore logs
log/